Repository Hechprad/react-native-supabase-boilerplate-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier . --write, eslint . --quiet --fix

feat: improve i18n texts
  .vscode/settings.json
  src/app/(public)/(auth)/signin/page.tsx
  src/app/(public)/(auth)/signup/page.tsx
  src/lib/i18n/locales/en-US.json
  src/lib/i18n/locales/pt-BR.json
  src/lib/zod/index.tsx
Due: prettier . --write, eslint . --quiet --fix

feat: add test-on-pr action
  .github/workflows/test-on-pr.yml
  .husky/pre-push
  package.json
Due: none

feat: add sync-develop-with-main action
  .github/workflows/sync-develop-with-main.yml
  .github/workflows/test-on-pr.yml
Due: none

fix: sync-develop-with-main action
  .github/workflows/sync-develop-with-main.yml
Due: none

docs: update README.md file
  README.md
Due: prettier . --write

docs: add metadata.yml file
  .github/workflows/metadata.yml
Due: none

fix: update metadata.yml path
  .github/metadata.yml
Due: none

chore: remove useless page
  src/app/(private)/product/page.tsx
Due: prettier . --write, eslint . --quiet --fix

feat: add useCheckForAppUpdate hook
  app.json
  package-lock.json
  package.json
  src/app/+not-found.tsx
  src/app/index.tsx
  src/app/update.tsx
  src/hooks/useCheckForAppUpdate.tsx
  src/lib/i18n/locales/en-US.json
  src/lib/i18n/locales/pt-BR.json
Due: prettier . --write, eslint . --quiet --fix

feat: add SecureStore for session data
  package-lock.json
  package.json
  src/lib/ExpoSecureStore/index.ts
  src/lib/supabase/index.ts
Due: prettier . --write, eslint . --quiet --fix

feat: add forgotPassword and updatePassword pages
  app.json
  eslint.config.js
  package-lock.json
  package.json
  src/app/(public)/(auth)/forgotPassword/page.tsx
  src/app/(public)/(auth)/signin/page.tsx
  src/app/(public)/(auth)/signin/styles.ts
  src/app/(public)/(auth)/signup/page.tsx
  src/app/(public)/(auth)/updatePassword/page.tsx
  src/app/_layout.tsx
  src/hooks/useAuthUpdatePass.tsx
  src/lib/i18n/locales/en-US.json
  src/lib/i18n/locales/pt-BR.json
Due: prettier . --write, eslint . --quiet --fix

Path conditions:
  prettier . --write: any of: *.{css,js,jsx,less,md,ts,tsx}
  eslint . --quiet --fix: any of: *.{js,jsx,ts,tsx,html}
